*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    overflow: hidden;
}
.container{
    transition: background .5s;
    transition-timing-function: ease-in-out;
    background-color:#9e9e9e1f;
    width: 100%;
    min-height: 140vh;
    position: relative;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -ms-transition: background .5s;
    -o-transition: background .5s;
}
header{
    padding:20px  40px;
}
.logo img{
    width: 60px;
}
.content{
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px , 1fr));
   row-gap: 10px;
   column-gap: 10px;
    align-items: center;
    justify-content:center;
}
.content .text{
  padding: 10px;
}
.text h2{
    text-transform: uppercase;
    font-size: 40px;}
.text p{
    margin: 20px 0px 0px;
    font-size: 20px;}

.image img{
    width: 100%;
}
button{
    cursor: pointer;
    border:1px solid;
    outline: none;
    background-color: whitesmoke;
    color: black;
    font-size: 30px;
    margin: 30px 10px;
    padding: 10px 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.phones{
    position: relative;
    height: 5pc;

}
.choose-phone{
     position: absolute;
     bottom: 1px;
     left: 50%;
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
}
.choose-phone img{
    height: 120px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    cursor: pointer;
}
.choose-phone img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
@media(max-width:760px){
    .choose-phone img{
        height: 50px;}
}